# Node Environment
NODE_ENV=development

# Server
PORT=3016

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=fpl_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Logging
LOG_LEVEL=debug